extends layouts/base.pug
block contents
  .l-container
    main.l-main
      section.l-main__section
        h2.l-main__section-heading.o-main__section-heading.
          h2_section_heading
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam nihil laboriosam aliquam porro! Iure cumque reprehenderit doloribus. Iure quasi, culpa natus eius autem ipsam. Commodi quos facere laboriosam nesciunt modi.

